
<div class="container">
<table class="table col-10 mx-auto">
    <thead class="thead-light">
        <tr>
            <th style="width:25%">購入日時</th>
            <th style="width:25%">投稿者</th></th>
            <th style="width:25%">映画タイトル</th>
            <th style="width:25%"></th>
        </tr>
    </thead>
    <tbody>
    <% @post_movies.each do |post_movie| %>
        <tr>
            <td><%= link_to "#{post_movie.created_at.strftime('%Y/%m/%d %H:%M:%S')}", admin_post_movie_path(post_movie.id), class: "text" %></td>
            <td><%= post_movie.user.name %></td>
            <td><%= post_movie.title %></td>
            <td><%= link_to "削除する", admin_post_movie_path(post_movie.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
        </tr>
    </tbody>
    <% end %>
</table>
</div>