<div class="container">
<div class="col-3 mt-5 mb-5 secondary text-center">
<h2>注文履歴一覧</h2>
</div>
</div>

<div class="container">
<table class="table col-10 mx-auto">
    <thead class="thead-light">
        <tr>
            <th style="width:25%">購入日時</th>
            <th style="width:25%">投稿者</th></th>
            <th style="width:25%">映画タイトル</th>
            <th style="width:25%"></th>
        </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
        <tr>
            <td><%= link_to "#{post.created_at.strftime('%Y/%m/%d %H:%M:%S')}", admin_post_path(user.id), class: "text" %></td>
            <td><%= post.user.last_name %></td>
            <td><% order.order_details.each do |order_detail| %>
                <%= order_detail.amount %>
                <% end %></td>
            <td><%= order.status_i18n %></td>
        </tr>
    </tbody>
    <% end %>
</table>
</div>